<!DOCTYPE html>
 <html>
   <head>
     <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
   </head>
   <body>
     <h1>You are now following "<%= @post.title %>"</h1>
     <p>
       If you would not like to be informed of all comments on this post, unfavorite it at:
       <%= link_to "Post", topic_post_url(@post.topic, @post) %>
     </p>
   </body>
 </html>
